html, body {
  background: #fafafa;
  margin: 0;
  height: 100%;
  font-family: 'Open Sans';
}

.mixplayerWindow, #mixplayer {
  width: 100%;
  height: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

input {
  padding: 5px;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: #725e5b;
}

.playerWindow, .discoverWindow {
  width: 50%;
  height: 100%;
}

.discover {
  height: 100%;
  border-left: 2px #b0b0b0 solid;
  overflow: scroll;
}

.player {
  height: 100%;
}

.info {
  padding: 10px 20px;

  .info-title {
    font-weight: 600;
    font-size: 1.2em;
  }

  .info-artist {
    font-weight: 600;
    font-size: 1.1em;
    padding-bottom: 3px;
  }
}

.playlistBar {
  padding: 10px;
}

.playlistItem {
  border-bottom: 1px #ccc solid;
  background: #fcfcfc;
  padding: 6px;
  cursor: pointer;
}

.progress {
  width: 50%;
  height: 30px;

  .progress-bar {
    position: absolute;
    height: 30px;
    background: #f18969;
  }

  .progress-background {
    position: absolute;
    width: 50%;
    height: 30px;
    opacity: 0.5;
    background: #666;
  }

  .progress-text {
    position: absolute;
    width: 50%;
    margin-top: 4px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    opacity: 1;
  }

  .progress-current {
    left: 20px;
  }

  .progress-total {
    text-align: right;
  }
}

.controls {
  background: #fff;
  width: 100%;
  height: 55px;

  .icon {
    margin: 10px 10px 10px 0px;
  }

  .volume {
    width: 55px;
  }
}

.searchData {
  padding: 10px 30px;
}

.searchItem {
  padding: 7px;
  cursor: pointer;
  font-size: 0.9em;
}

.lowkey {
  color: #ccc;
}
