@import "playlist";
@import "discover";

html, body {
  background: #fffafb;
  margin: 0;
  height: 100%;
  letter-spacing: 1px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

#mixplayer {
  height: 100%;
}

.flexbox {
  position:absolute;
  width:50%;
  height:100%;
  background: #404d4f;

  display: flex;
  flex-direction:column;
}

.flex {
  flex:1;
  overflow: scroll;
}

.flex-child {
  height:100%;
  width:100%;
  display:block;
}

.static {
  width:100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

input {
  padding: 5px;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: #725e5b;
}

.playerWindow, .discoverWindow {
  width: 50%;
  height: 100%;
}

.player {
  width:100%;
  height:5rem;
}

.info {
  min-height: 50px;
  padding: 20px 20px;
  color: #fefff5;

  .info-title {
    font-size: 1.2em;
  }

  .info-artist {
    font-size: 1.1em;
    padding-bottom: 3px;
    color: #b5bdb1;
  }
}

.progress {
  border-radius: 2px;
  width: 95%;
  margin: 10px auto;
  height: 30px;

  .progress-bar {
    border-radius: 2px;
    position: absolute;
    height: 30px;
    background: #f18969;
  }

  .progress-background {
    border-radius: 2px;
    position: absolute;
    width: 95%;
    height: 30px;
    opacity: 0.5;
    background: #3bd188;
  }

  .progress-text {
    position: absolute;
    width: 95%;
    margin-top: 4px;
    letter-spacing: 1px;
    color: #fff;
    opacity: 1;
  }

  .progress-current {
    margin-left: 10px;
  }

  .progress-total {
    text-align: right;
    margin-right: 10px;
  }
}

.controls {
  background: #2c3536;
  width: 100%;
  height: 57px;

  .icon {
    margin: 10px 10px 10px 0px;
  }

  .volume {
    width: 55px;
  }

  .controlGroup {
    margin-left: 20px;
    width: 200px;
  }
}

.header {
  width: 100%;
  background: #2c3536;
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 10px;
  color: #fefff5;
}
