.discover {
  height: 100%;
  background: #384246;
  overflow: scroll;
}

.discoverSearch {
  width: 100%;
  text-align: center;
}

.searchData {
  padding: 20px 30px 20px;
}

.searchItem {
  padding: 7px;
  cursor: pointer;
  font-size: 0.9em;

  &:hover {
    background: #222828;
  }
}

.lowkey {
  color: #ccc;
  cursor: not-allowed;
}
