.discover {
  height: 100%;
  border-left: 2px #b0b0b0 solid;
  overflow: scroll;
}

.discoverSearch {
  position: fixed;
  top: 0;
  width: 50%;
  text-align: center;
  padding: 7px;
}

.searchData {
  padding: 50px 30px 20px;
}

.searchItem {
  padding: 7px;
  cursor: pointer;
  font-size: 0.9em;
}

.lowkey {
  color: #ccc;
  cursor: not-allowed;
}
