.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #000000;
}
.icon-volume-off {
	fill: #000000;
	width: 14px;
}
.icon-volume-up {
	fill: #000000;
	width: 30px;
}
.icon-play {
	fill: #000000;
}
.icon-pause {
	fill: #000000;
}
.icon-next {
	fill: #000000;
}
.icon-previous {
	fill: #000000;
}
